body{
    background-image: linear-gradient(to bottom right, rgb(18, 18, 18), rgb(33,33,33), rgb(83, 83, 83));
    padding-bottom: 50%;
    color: white;
    font-family: 'Karla';
}

h1{
    text-align: center;
}

button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
}

table{
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}

div.score{
    border: 1px solid rgb(85, 84, 84);
    display: inline-block;
    border-radius: 5px;
    height: 20px;
    width: 150px;
    padding: 10px;
    margin-left: 10px;
}

div.scores{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 1px;
}

p.X_score{
    margin: 5px;
    margin-right: 10px;
}

p.O_score{
    margin: 5px;
    margin-right: 10px;
}

img.score_symbol{
    margin-left: 10px;
}

img.O{
    margin-left: 30px;
}
/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {

    div.game{
        background-color: transparent;
        padding: 40px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
        max-width: fit-content;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
}

/* Smartphones (600px para cima) */
@media only screen and (min-width: 600px) {

    div.game{
        background-color: transparent;
        padding: 40px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
        max-width: fit-content;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        margin-top: 35px;
    }
    
    div.score{
        border: 1px solid rgb(85, 84, 84);
        display: inline-block;
        border-radius: 5px;
        height: 20px;
        width: 90px;
        padding: 10px;
        margin-left: 10px;
    }

    img.score_symbol{
        margin-left: 10px;
    }

    p.X_score{
        margin: 5px;
        margin-right: 10px;
    }
    
    p.O_score{
        margin: 5px;
        margin-right: 10px;
    }
}

/*Dispostivos Médios (Tablets deitados, 1200px para cima) */
@media only screen and (min-width: 1200px) {

    div.game{
        background-color: transparent;
        padding: 40px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
        max-width: fit-content;
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -70%);
    }
}

@media only screen and (max-width: 450px) {

    div.game{
        background-color: transparent;
        padding: 40px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
        max-width: fit-content;
        border-radius: 10px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -70%);
    }

    div.score{
        border: 1px solid rgb(85, 84, 84);
        display: inline-block;
        border-radius: 5px;
        height: 20px;
        width: 60px;
        padding: 10px;
        margin-left: 10px;
        margin-top: 15px;
    }

    img.score_symbol{
        margin-left: 5px;
    }

    p.X_score{
        margin: 5px;
    }
    
    p.O_score{
        margin: 5px;
    }
}
